body {
    margin: 0;
    padding: 0;   
    background: url('../img/layout/body-bg.jpg') scroll repeat top left;
    font-family: 'Open Sans', sans-serif;
    color: #666659;
}
.hidden {
    display: none;
}
ol {
    display: none;
}
ul {
    list-style: none;
}
body .loader.loading {
    z-index: 1000;
    background: url('../img/layout/body-bg.jpg') scroll repeat top left;
    display: block;
    width: 100%;
    height: 100% !important;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
}
body .loader .loader-container {
    position: relative;
    background: url('../img/layout/logo-preloader.png') scroll no-repeat top center;
    width: 267px;
    height:  180px;
    top: 40%;
    margin: 0 auto;
}
body .loader .loader-container img {
    width: 267px;
    height: 21px;
    margin-top: 160px;
}
body section.slider {
    position: relative;
    width: 100%;
}
body section.slider .flexslider.carousel ul.slides {
    padding: 0;
}
body section.slider .flexslider.carousel ul.slides li img {
    width: 100%;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
body section.slider .flexslider.carousel ul.slides li p {
    font-family: 'League Gothic';
    font-size: 112px;
    position: relative;
    width: 960px;
    top: -400px;
    margin: 0 auto 0 auto;
    color: #ACAC9D;
    line-height: 92px;
}
body section.slider .flexslider.carousel .flex-viewport {
    width: 100%;
    position: fixed;
    top: -16px;
}
body section.slider .flexslider.carousel .flex-direction-nav li a {
    font-size: 0;
    background: transparent url('../img/layout/next.png') scroll no-repeat top left;
    width: 43px;
    height: 45px;
    display: block;
}
body section.slider .flexslider.carousel .flex-direction-nav li a.flex-prev {
    position: absolute;
    left: 80px;
    top: 400px;
}
body section.slider .flexslider.carousel .flex-direction-nav li a.flex-next {
    position: absolute;
    right: 80px;
    top: 400px;
    background-position-x: -46px;
}
body .container {
    width: 100%;
    position: absolute;  
    top: 0;
}
body .container header {
    width: 960px;
    position: relative;
    margin: 0 auto;
}
body .container header nav {
    background: transparent url('../img/layout/nav-bg.png') scroll top left repeat;
    height: 100px;
    width: 527px;
    position: relative;
    top: 0;
    font-family: 'League Gothic';
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
    float: right;
}
body .container header nav li a {
    color: #765F39;
    text-decoration: none;
    float: left;
    padding: 0 8px 0 8px;
    display: block;
    height: 100px;
    margin-top: 0;
    line-height: 163px;
}
body .container header nav li a:hover {
    background: transparent url('../img/layout/nav-bg-active.png') scroll top left repeat;
    color: #FFFFFF;
}
body .container header .logo {
    background: transparent url('../img/layout/logo.png') scroll top left no-repeat;
    width: 189px;
    height: 183px;
    position: absolute;
}
body .container header .logo.interno {
    background: transparent url('../img/layout/logo-interno.png') scroll 22px center no-repeat;
}
body .main {
    width: 960px;
    position: relative;
    margin: -260px auto 0 auto;
}
body .main article.x1,
body .main article.x2 {
    width: 340px;
    position: relative;
    float: left;
    padding: 0 5px 100px; 5px;
}
body .main article.x1 {
    width: 220px;
}

body .main article.x1 img,
body .main article.x2 img {
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
body .main article.x1 h1, 
body .main article.x2 h1 {
    font-family: 'League Gothic';
    text-transform: uppercase;
    font-size: 24px;
    color: #765F39;
    font-weight: normal;
}
body .main article.x1 a, 
body .main article.x2 a {
    font-family: 'League Gothic';
    font-size: 24px;
    display: block;
    color: #ffffff;
    padding-left: 8px;
    line-height: 19px;
    text-decoration: none;
    background: transparent url('../img/layout/ver-mas.png') scroll top left no-repeat;
    height: 23px;
    width: 70px;
    float: right;
}
body section.contacto {
    background: transparent url('../img/layout/cto-bg.jpg') scroll top left repeat;
    width: 100%;
    height: 350px;
    position: relative;
    top: 470px;
}
body section.contacto .container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0 5px 0 5px;
}
body section.contacto .container .contacto {
    margin-top: 0;
    width: 460px;
    position: absolute;
    float: left;
}
body section.contacto .container .mapa {
    width: 400px;
    position: relative;
    margin-top: -498px;
    float: right;
}
body section.contacto .container .contacto h1,
body section.contacto .container .mapa h2 {
    font-family: 'League Gothic';
    color: #765F39;
    font-weight: normal;
    font-size: 24px;
    padding: 0;
    margin: 10px 0 0 0;
}
body footer {
    width: 960px;
    position: relative;
    margin: 500px auto 0 auto;
}
body footer.interno {
    margin: 100px auto 0 auto;
}
body .sombra-footer {
    background: transparent url('../img/layout/sombra-footer.png') scroll top left no-repeat;
    height: 7px;
    width: 960px;
    position: relative;
    margin: 50px auto -55px auto;
}
body footer nav.footer {
    list-style: none;
    float: right;
}
body footer nav.footer li {
    float: left;
}
body footer nav.footer li a {
    float: left;
    font-family: 'League Gothic';
    color: #765F39;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px 50px 0;
    font-size: 20px;
}
body footer .logo {
    background: transparent url('../img/layout/logo-footer.png') scroll top left no-repeat;
    height: 85px;
    width: 107px;
    float: left;
    padding-bottom: 20px;
}
body section.contacto .container .mapa iframe {
    z-index: -1000;
}
body .container section.contacto-s .gmaps .sombra-top,
body .container section.contacto-s .gmaps .sombra-bottom,
body section.contacto .container .mapa .sombra-top,
body section.contacto .container .mapa .sombra-bottom {
    background: transparent url('../img/layout/sombra.png') scroll top left no-repeat;
    height: 7px;
    width: 400px;
    z-index: 6000;
    position: absolute;
}
body .container section.contacto-s .gmaps .sombra-bottom,
body section.contacto .container .mapa .sombra-bottom  {
    background-position: 0 -7px;
    margin-top: -13px;
}
body .container section.contacto-s,
body .container section.clientes,
body .container section.servicios,
body .container section.como-trabajamos,
body .container section.quienes-somos,
body .container section.mision,
body .container section.por-que-gp {
    position: relative;
    width: 960px;
    margin: 300px auto 0 auto;
}
body .container section.quienes-somos article.la-compania header h1 {
    font-family: 'League Gothic';
    color: #765F39;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 39px;
    margin: 0;
} 
body .container section.quienes-somos article.la-compania {
    height: 430px;
}
body .container section.quienes-somos article.la-compania header h2 {
    font-family: 'League Gothic';
    color: #ACAC9D;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 45px;
    line-height: 50px;
    margin: 0;
}
body .container section.quienes-somos article.la-compania .container,
body .container section.quienes-somos article.mision .container,
body .container section.quienes-somos article.por-que-gp .container{
    position: relative;
}
body .container section.quienes-somos article.la-compania .container p {
    position: relative;
    margin: 50px 0 0 0;
}
body .container .bg-oscuro {
    background: transparent url('../img/layout/cto-bg.jpg') scroll top left repeat;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 280px;
}
body .container section.quienes-somos article {
    border-bottom: 1px solid #9797A6;
    position: relative;
}
body .container section.quienes-somos article.por-que-gp {
    border: none;
}
body .container section.quienes-somos article.mision header h1,
body .container section.quienes-somos article.por-que-gp header h1 {
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: #676759;
}
body .container section.contacto-s header h1,
body .container section.clientes header h1,
body .container section.servicios header h1,
body .container section.como-trabajamos header h1 {
    font-family: 'League Gothic';
    color: #333333;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}
body .container section.contacto-s .linea,
body .container section.clientes .linea,
body .container section.servicios .linea,
body .container section.como-trabajamos .linea {
    background: transparent url('../img/layout/linea.png') scroll top left repeat;
    width: 960px;
    height: 3px;
}
body .container section.como-trabajamos .infografia {
    background: transparent url('../img/layout/infografia-provisoria.png') scroll top center no-repeat;
    width: 960px;
    height: 886px;
    margin: 60px auto 60px auto;
}
body .container section.servicios .text-holder p {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}
body .container section.servicios .text-holder ul {
    list-style: disc;
    width: 644px;
    margin: 20px auto 20px auto;
}
body .container section.clientes .mapa {
    background: transparent url('../img/layout/mapa.png') scroll top center no-repeat;
    width: 960px;
    height: 570px;
    margin: 60px auto 60px auto;
}
body .container section.contacto-s .datos {
    float: left;
    margin-top: 60px;
}
body .container section.contacto-s .gmaps {
    float: right;    
    margin-top: 60px;
}